name: Update Docker Images

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - name: "appimage"
            tag: "latest"
            dockerfile: "Dockerfile.appimage"
          #- name: "mxe"
          #  tag: "latest"
          #  dockerfile: "Dockerfile.mxe"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          echo "Building image variant: ${{ matrix.config.name }}:${{ matrix.config.tag }}"

          IMAGE="ghcr.io/${{ github.repository_owner }}/${{ matrix.config.name }}:${{ matrix.config.tag }}"
          cd docker
          cp -v "${{ matrix.config.dockerfile }}" Dockerfile

          docker build -t "${IMAGE}" .
          docker push "${IMAGE}"

      - name: Summary
        run: |
          echo "pushed image: ghcr.io/${{ github.repository_owner }}/${{ matrix.config.name }}:${{ matrix.config.tag }}"

