name: Linux Build
on: 
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - .github/workflows/docker.yml
      - .github/workflows/windows.yml
  pull_request:
    branches:
      - main
    paths-ignore:
      - .github/workflows/docker.yml
      - .github/workflows/windows.yml

jobs:
  build:
    runs-on: ubuntu-latest
    name: build (${{ matrix.config.name }})
    strategy:
      # needs to be set; reduce if github is cancelling jobs
      max-parallel: 2
      matrix:
        config:
          - name: "AppImage"
            container: "ghcr.io/scrubbbbs/appimage:latest"
            submodules: false
            deps: ""
            cmake_flags: ""
            env: ""

    container:
      image: ${{ matrix.config.container }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Allow unsafe git in container
        run: git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Checkout submodules
        if: matrix.config.submodules
        run: |
          git submodule init
          git submodule update

      #- name: Install build dependencies
      #  run: |
      #    sudo apt-get update

      - name: Configure
        shell: bash
        run: |
          ${{ matrix.config.env }} qmake6

      - name: Build
        shell: bash
        run: |
          ${{ matrix.config.env }} make -j$(nproc)

      - name: Get Build Info
        shell: bash
        id: get_version
        run: |
          ARCH=$(uname --machine)
          OS=$(source /etc/lsb-release; echo $DISTRIB_ID-$DISTRIB_RELEASE)
          SHA=$(git rev-parse --short ${{ github.event.pull_request.head.sha || github.sha }})
          VERSION=$(cat _build/git.h | grep CBIRD_VERSION | sed 's/[^0-9\.]*//g')
          echo "ARCH=$ARCH" >> $GITHUB_OUTPUT
          echo "BUILD=${VERSION}-${SHA}-${OS}-${ARCH}" >> $GITHUB_OUTPUT

      - name: Build AppImage 
        shell: bash
        run: |
          ldconfig # TODO: missing from Dockerfile
          make appimage 

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "cbird-${{ steps.get_version.outputs.BUILD }}-${{ matrix.config.name }}"
          path: cbird-${{ steps.get_version.outputs.ARCH }}.AppImage 
          retention-days: 30

